/* Set screen for mobile and pc */
.main-content {
    margin: 0 16px;
}

header {
    display: none;
}

h1, h2, h3, h4, strong {
    font-weight: bold;
    color: #333333;
}

.main-content h1 {
    margin: 32.71px 0.5px 65.53px;
}

h1 {
    color: #09c;
    font-size: 16px;
    line-height: 25px;  
}

h1 a:hover {
    text-decoration:  none;
}

h2 {
    margin: 0 0 24px 0;
    padding: 2.5px 0;
    font-size: 1.4rem; 
}

h3, h4, p {
    font-size: 1.2rem;        
}

h3 {
    padding: 5px 11px;
    margin-bottom: 14px;
    border-left: 4px solid #ff5b03;
}

h4 {
    color: #6f6f6f;
    margin-bottom: 12px;
    margin-top: 2px;
    opacity: 0.5;    
}

img {
    width: 100%;
    height: auto;
    margin: -5px 0;
}

div.date_created {
    position: relative;
    top: 93px;
    font-size: 1.1rem;
    color: #999999;
}

.main-content p {
    padding-bottom: 22px;
    line-height: 20px;
}

div#post_thumbnail {
    margin-bottom: -30px;
}

@media only screen and (min-width:992px) and (max-width:1440px) {
    div.date_created {
        top: 75px;
    }
}

@media only screen and (max-width:402px) {
    div.date_created {
        top: 112px;
    }
}

blockquote {
    margin: 10px 0 15px 0;
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

blockquote p {
    display: flex;
    font-size: 12px;
    padding-bottom: 0;
}

blockquote:after,
blockquote:before,
blockquote>:last-child:before, 
blockquote>:last-child:after {
    position: absolute;
    width: 30px;
    height: 15px;
    border-color: red;
    border-style: solid;
    content: ' ';
}
 
blockquote:before {
    top: 15px;
    left: -2px;
    border-width: 1px 0 0 1px;
}
 
blockquote:after {
    top: 10px;
    right: 0px;
    border-width: 1px 1px 0 0;
}
 
blockquote>:last-child:before {
    bottom: 35px;
    right: 0px;
    border-width: 0 1px 1px 0;
}
 
blockquote>:last-child:after {
    bottom: 35px;
    left: -4px;
    border-width: 0 0 1px 1px;
}